*{
    box-sizing: border-box;
}

body{
    margin: 0px;
}
.top{
    background-color: #DCEBFD;
    padding: 20px;
    justify-content: space-around;
    flex-wrap: nowrap;
}
#logo{
    
    height: 63px;
    
}
/* navbar */
.top li{
    display: inline-block;
    
    
    width: 300px;
    
}

.top .row{
    margin-bottom: 5px;
}

.firstcol{
    margin: auto;
}
@media (max-width:576px){
    .EWP{
        display: none;
    }
}

/* navbar starts here */
.navbar{
    margin: 0px 5%;
}
#home-logo{
    margin-top: 8px;
}


li a{
    text-decoration: none;
}

.list_links{
    display: inline;
    list-style: none;
    margin-top: 13px;
    margin-right: 10px;
    transition: 1s;
    
}


.list_links a{
    /* border: solid green 1px; */
    color: black;
    padding: 0px 20px;
    
}

#search-textbox{
    border: solid rgb(42, 59, 150) 2px;
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 13px;
}
#apt-btn{
    color: white;
    background: rgb(42, 59, 150);
    border: none;
    border-radius: 5px;
    padding: 7px 30px;
    font-size: smaller;
    transition: 0.4s ease;
    margin-left: 20px;
    margin-top: 13px;
}
#apt-btn:hover{
   background-color: rgb(83, 83, 202);
}

#profile{
    margin-left: 100px;
}

@media (max-width:1200px){
    #profile{
        margin-left: 20px;
        margin-top: 13px;
    }
}

/* main area */

.main-container{
    margin: 0px 5%;
    display: flex;
    justify-content: space-between;
}
.main-container h1{
    font-family: sans-serif;
    font-weight:bold ;
    color: black;
    font-size: 54px;
}
.main-container h1 span{
    color:  rgb(42, 59, 150);
}
.main-container p{
    color: black;
    padding: 30px 0px;
    font-size: large;
    font-weight: 400;
}
#button{
    color: white;
    background: rgb(42, 59, 150);
    border: none;
    border-radius: 5px;
    padding: 7px 70px;
    font-size: smaller;
    transition: 0.4s ease;
}
#button:hover{
       background-color: rgb(83, 83, 202);

}
.dna-bg-container{
    background-image: url(../images/dna\ 1.png);
    background-repeat: no-repeat;
    background-size: 900px auto;
    max-width: 900px;
    margin-bottom: 30px;
}
.dna-content{
    margin-top: 180px;
}

.doctor-container{
    display: flex;
    justify-content: end;
}
#doc-img{
    width:80%;
    height: auto;
}

@media (max-width:1200px){
    
    .dna-content{
        margin-top: 70px;
        
    }
   
}
@media (max-width:1100px){
    .doctor-container{
       display: none;
        
    }
    .main-container{
        justify-content: center;
    }
    .dna-bg-container{
        display: flex;
        justify-content: center;
    }
    
}



/* blue rectangle */
.blue-rec{
    background-color: rgb(42, 59, 150);
    color: white;
    display: flex;
    justify-content: start;
}
.blue-rec-content{
    padding: 10px 30px;
    text-align: center;
    margin-left: 70px;
}
.blue-rec-content h1,p{
    margin: 0px;
    padding: 0px;
}

@media (max-width:768px){
    .blue-rec-content{
        margin-left: 40px;
    }
}
@media (max-width:576px){
    .blue-rec-content{
        margin-left: 20px;
    }
}
